{% extends "image/pool/base.html" %}

{% load base %}

{% block title %}Image Pool: {{ object.name }}{% endblock %} 

{% block content %}

<script type="text/javascript">

$(document).ready(function(){
    $("#list").tablesorter();

    $( ".image_opener > a" ).click(function(e) {
      e.preventDefault();
      show_image(this);
     });
    $( ".image_opener_td > a" ).click(function(e) {
      e.preventDefault();
      show_image_td(this);
    });

});
  

</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ object.name }}</h1>
    </div>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt><dd>{{ object.name }}</dd>
  <dt># Images</dt><dd>{{ object.images.count }}</dd>
  <dt># Duplicates</dt><dd>{{ pool_matches.count }}</dd>
  <dt># Other Matches</dt><dd>{{ num_matches_other_pools }}</dd>
</dl>

<div class="row">
  <a class="btn btn-default" href="{% url 'image:pool:update' object.id %}?next={{ request.path }}">{% edit %} Edit</a>
  <a class="btn btn-default" href="{% url 'image:pool:delete' object.id %}">{% delete %} Delete</a>
  {% if object.images.exists %}
  <a class="btn btn-default" href="{% url 'image:pool:label' object.id %}">{% label %} Label</a>
  {% endif %}
</div>

<h2>Duplicates</h2>

{% if pool_matches %}
<table class="table table-condensed table-striped table-nonfluid table-hover">
  <tr>
    <th>Pair</th>
    <th>Name</th>
    <th>Name</th>
  </tr>
{% for p in pool_matches %}
  <tr>
    <td><a href="{% url 'pair:detail' p.id %}">{% pair %}</a></td>
    <td>{{ p.first.name }}</td>
    <td>{{ p.second.name }}</td>
  </tr>
{% endfor %}  
</table>
{% else %}
<p>None</p>
{% endif %}


<h2>Matches</h2>

{% if first_matches or second_matches %}

<table class="table table-condensed table-striped table-nonfluid table-hover">
  <tr>
    <th>Pair</th>
    <th>Name</th>
    <th>Name</th>
    <th>Pool</th>
  </tr>
{% for p in first_matches %}
  <tr>
    <td><a href="{% url 'pair:detail' p.id %}">{% pair %}</a></td>
    <td>
      <div style="display: flex;">
        <div>{{ p.first.name }}sdf</div>&nbsp;
        <div class="image_opener_td" style="float: right;"><input type="hidden" value="{% url 'image:marked_image_jpeg' p.first_id %}"><a id="hover" href="#">{% show color='lightgray' %}</a></div>
      </div>
    </td>
    <td>
      <div style="display: flex;">
        <div>{{ p.second.name }}</div>&nbsp;
        <div class="image_opener_td" style="float: right;"><input type="hidden" value="{% url 'image:marked_image_jpeg' p.second_id %}"><a id="hover" href="#">{% show color='lightgray' %}</a></div>
      </div>
    </td>
    <td>
    {% for pool in p.second.pools.all %}
    <a href="{% url 'image:pool:detail' pool.id %}">{{ pool.name }}</a><br>
    {% endfor %}
    </td>
  </tr>
{% endfor %}  
{% for p in second_matches %}
  <tr>
    <td><a href="{% url 'pair:detail' p.id %}">{% pair %}</a></td>
    <td>
      <div style="display: flex;">
        <div>{{ p.second.name }}</div>&nbsp;
        <div class="image_opener_td" style="float: right;"><input type="hidden" value="{% url 'image:marked_image_jpeg' p.second_id %}"><a id="hover" href="#">{% show color='lightgray' %}</a></div>
      </div>
    </td>
    <td>
      <div style="display: flex;">
        <div>{{ p.first.name }}</div>&nbsp;
        <div class="image_opener_td" style="float: right;"><input type="hidden" value="{% url 'image:marked_image_jpeg' p.first_id %}"><a id="hover" href="#">{% show color='lightgray' %}</a></div>
      </div>
    </td>
    <td>
    {% for pool in p.first.pools.all %}
    <a href="{% url 'image:pool:detail' pool.id %}">{{ pool.name }}</a><br>
    {% endfor %}
    </td>
  </tr>
{% endfor %}  
</table>
{% else %}
<p>None</p>
{% endif %}


<h2>Images</h2>

{% if object.images.exists %}

<table id="list" class="table table-striped table-condensed table-nonfluid">
  <caption>Num Images: {{ object.images.count }}</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Project</th>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th>Juvenile</th>
      <th>Has Eggs</th>
      <th>Quality</th>
      <th>Labeled</th>
      <th>Coord Type</th>
      <th># Points</th>
      <th>Image</th>
      <th>Disabled</th>
      <th>Operator</th>
      <th>Created</th>
      <th>Comment</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {% for image in object.images.all %}
    <tr{% if image.disabled %} class="danger"{% endif %}>
      <td><a href="{% url 'image:detail' image.id %}">{{ image.id }}</a></td>
      <td>{{ image.project|default:"---" }}</td>
      <td>{{ image.name }}</td>
      <td>{{ image.date|default:"---" }}</td>
      <td>{{ image.location|default:"---" }}</td>
      <td>{{ image.juvenile|yesno }}</td>
      <td>{{ image.has_eggs|yesno }}</td>
      <td>{{ image.get_quality_display }}</td>
      <td{% if not image.is_labeled %} class="alert-danger"{% endif %}>{{ image.is_labeled|yesno }}</td>
      <td>{{ image.coord_type }}</td>
      <td>{{ image.points.count }}</td>
      <td>{{ image.image }}</td>
      <td>{{ image.disabled|yesno }}</td>
      <td>{{ image.operator }}</td>
      <td>{{ image.created }}</td>
      <td>{{ image.comment }}</td>
      <td><div class="image_opener"><input type="hidden" value="{% url 'image:marked_image_jpeg' image.id %}"><a id="hover" href="#">{% show color='lightgray' %}</a></div></td>
    </tr>
    {% endfor %} 
  </tbody>
</table>

{% else %}

<p>No Images assigned to this pool.</p>

{% endif %}

{% endblock %}
