{% extends "image/base.html" %}

{% load staticfiles %}

{% block title %}Import Image Data{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Import Image Data</h1>
    </div>
</div>

{% if errors %}
<h2 class="Alert">Please correct the following errors:</h2>
{% for error in errors %}
<div class="alert alert-danger sm">{{ error }}</div>
{% endfor %}
{% endif %}

{% if finished %}
<p class="bg-success"><b>Data added to database:</b><br>
#Images: {{num_created}}<br>
</p>
{% endif %}

<p>`CSV` and `XLSX` files are supported as data format.</p>

The following format should be used to import Images from `CSV`:
<pre>
name;image;date;project;location;operator;has_eggs;juvenile;quality;disabled;comment
test_image;test.jpg;2017-09-07;1143;Fasiswald;rw;1;0;1;0;"Test File"
</pre>

<p>Quality can be: 0,1 or 2 for (bad, good, perfect)</p>

<p>The <i>Image Data File</i> is optional. If not provided the images will be stored with the basename of the image uploaded.<br>
   If an image-file is provided. The <i>image</i>-field have to be set and is used to assign the data the the image.</p>

<form method="POST" action="{% url 'image:import_excel' %}" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
  <div class="form-group">
      <label for="file" class="col-xs-2 control-label">Images</label>
      <div class="col-xs-3">
        <input name="images" id="images" type="file" multiple>
      </div>
  </div>
  <div class="form-group">
      <label for="file" class="col-xs-2 control-label">Image Data File (optional)</label>
      <div class="col-xs-3">
        <input name="image_file" id="image_file" type="file">
      </div>
  </div>
  <div class="form-group">
    <label for="pool" class="col-xs-2 control-label">Create New Pool</label>
    <div class="col-xs-3">
      <input type="checkbox" id="new_pool" name="new_pool">
    </div>
  </div>
  <div class="form-group" id="pool" style="display: none">
      <label for="pool" class="col-xs-2 control-label">Pool Name</label>
      <div class="col-xs-3">
        <input class="form-control" name="pool" id="pool" type="text" placeholder="Name">
      </div>
  </div>
  <div class="form-group" id="pool">
      <label for="pool" class="col-xs-2 control-label">Assign to Pools</label>
      <div class="col-xs-3">
        <select name="pools" class="form-control" title="" id="id_pools" size="12" multiple="multiple">
{% for pool in pools %}
  <option value="{{ pool.id }}">{{ pool }}</option>
{% endfor %}
</select>
      </div>
  </div>
  <div class="form-group">
      <div class="col-xs-offset-1 col-xs-3">
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
  </div>
</form>

{% if log %}
<h2>Log</h2>
<pre>{{ log }}</pre>
{% endif %}

<script type="text/javascript">
$( document ).ready(function() {

    $('#new_pool').change(function(){
        if(this.checked)
            $('#pool').fadeIn();
        else
            $('#pool').fadeOut();

    });	

});
</script>

{% endblock %}
