

<ul class="pagination">
    {% if page_obj.has_previous %}
  <li>
    <span><a href="./">First</a></span>
  </li>
  <li>
    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
  </li>
    {% endif %}
  <li class="">
    <span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
  </li>
    {% if page_obj.has_next %}
  <li>
    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
  </li>
  <li>
    <span><a href="?page={{ paginator.num_pages }}">Last</a></span>
  </li>
    {% endif %}
</ul>

